<launch>
	<node name="tankTracks_node" pkg="project2_teleop_tank" type="tankTracks_node" />
	<node name="cameraPanTilt_node" pkg="project2_teleop_tank" type="cameraPanTilt_node" />
	<node name="raspicam_node" pkg="raspicam" type="raspicam_node">
		<param name="framerate" value="2" />
		<param name="quality" value="10" />
		<param name="width" value="160" />
		<param name="height" value="100" />
	</node>
</launch>
